@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Utility Classes */
*{
    
    scrollbar-color: rgba(84, 213, 252, 0.697) rgb(207, 240, 255);
    scrollbar-width: 50px;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* ! ALl Containers */
/* ? All article container */
.all_articles{
    overflow: hidden;    
    position: relative;
}



/* !First article */
/**  Container in First Article  */
.first-container{
    overflow: hidden;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 1550px;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-color: #e1f9fc;
    animation: incoming 700ms ease-in-out  1  ;
}
/** Navbar */
nav{
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 18.6%;
    left: 38%;
    display: flex;
    gap: 40px;

}
.Link_1,.Link_2,.Link_3,.Link_4{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 1.4rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(122, 248, 244);
    transition: all 300ms;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 3px;
    
}
.Link_1{
    animation: incoming_links 1.7s linear 1 ;
}
.Link_2{
    animation: incoming_links 2s linear  1  ;

}
.Link_3{
    animation: incoming_links 2.4s linear  1  ;
}
.Link_4{
    animation: incoming_links 1.3s linear  1  ;
}

.Link_1:hover{
    transform:translateY(-10px);
}
.Link_2:hover{
    transform:translateY(-10px);
}
.Link_3:hover{
    transform:translateY(-10px);
}
.Link_4:hover{
    transform:translateY(-10px);
}

/** Headng In First Article **/

.first_article>h1{
    position: absolute;
    top: 6%;
    font-size: 3.4rem;
    width: 70%;
    text-align: center;
    left: 18%;
    color: #0073ee;
    text-shadow: 2px 2px 1px black;
    font-family: "Montserrat Alternates", sans-serif;
    animation: heading 700ms linear  1 ;

}

/* !Second Article */
.Third_article{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #e1f9fc,#e1f9fc,#defbff );
    transform: translateY(0px);
    display: flex;
    flex-direction: row;
    
}
.Third_article>img{
    position: absolute;
    left: -2%;
    top: 20%;
    filter: drop-shadow(2px 2px 3px white);
   
}
.Third_article>p{
    font-family: "Poppins", sans-serif;
    position: absolute;
    top: 30%;
    color: #0D47A1;
    width: 50%;
    right: 3%;
    font-size: 2.1rem;
    text-align: justify;
    font-weight: 450;
}


/* !Second Article (Skills) */
.Second_article{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#defbff,#c6f7ff);
    transform: translateY(0px);
}
.Skills_Container{
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 5%;
}
@keyframes Skill_Container_Animationn{
    from{
        opacity: 0;
        transform: translateX(-2000px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.bar{
    width: 500px;
    height: 20px;
    background-color: black;
    border-radius: 17px;
    overflow: hidden;
    filter: drop-shadow(1px 1px 5px white);
}
.line{
    height: 20px;
    background:linear-gradient(to right, rgb(62, 1, 123),rgb(136, 0, 255),rgb(157, 0, 255), rgb(162, 0, 255));
    border-radius: 17px;
    filter: drop-shadow(2px 2px 4px rgb(149, 0, 255));
}
.l-1{
    width: 460px;

}
.l-2{
    width: 450px;

}
.l-3{
    width: 400px;
}
.l-4{
    width: 350px;
}
.l-5{
    width: 450px;

}
.Skills>p{
    color: rgb(9, 76, 136);
    font-size: 1.4rem;
    font-weight: 600;
}
@keyframes l1{
    from{
        width: 0px;
    }
    to{
        width: 460px;
    }
}
@keyframes l2{
    from{
        width: 0px;
    }
    to{
        width: 450px;
    }
}
@keyframes l3{
    from{
        width: 0px;
    }
    to{
        width: 400px;
    }
}
@keyframes l4{
    from{
        width: 0px;
    }
    to{
        width: 350px;
    }
}
@keyframes l5{
    from{
        width: 0px;
    }
    to{
        width: 450px;
    }
}
/*! SkillsCard !*/
.SkillCardContainer{
    position: absolute;
    top: -15%;
    left: 170%;
}
.img{
    position: absolute;
    width: 500px;
    height: 500px;
    opacity: 0;
    filter: drop-shadow(2px 2px 5px rgb(255, 255, 255));
}
/* !Section Fourth */
.Projects_Container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#c6f7ff,#c6f7ff,#c6c6ff);
    background-repeat: no-repeat;
    padding-top: 30px;
}
.Projects_Container>img{
    width: 500px;
    position: absolute;
    top: 20%;
    right: 0px;
    display: block;
}
.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 50vw;
    justify-content: space-evenly;
}
.cardP{
    width: 18vw;
    height: 42vh;
    background: linear-gradient(to right bottom,#cbcbff,#cbcbff,#b790ff);
   display: flex;
   justify-content: start;
   align-items: center;
   text-align: center;
   overflow: hidden;
   transition: 500ms all;
  border-radius: 25px;
  border: #ae5efe 2px groove;

}
.cardP>p{
    font-size: 1.4rem;
}
.cardP:hover{
    transform:skew(6deg);
    background: linear-gradient(to right bottom,#b892ff,#cbcbff,#cbcbff);
    box-shadow: 1px 1px 10px #9d3bff;
}

.card_3{
    margin-top: 20px;
}
.card_4{
    margin-top: 20px;
   
}


/* ! Contact Section */
.Contact_Container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,#c6c6ff,#b5b5ff,#965efe);
    display: flex;
}
.Contact_Container>h2{
    position: absolute;
    bottom: 20%;
    color: #fefeff;
    text-shadow: 3px 3px 2px black;
    font-size: 3.5rem;
    width: 50%;
    text-align: center;
}
.Contact_Container>form{
    height: 70%;
    border: 2px groove rgb(185, 0, 185);
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 28%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to  right bottom,#c6c6ff,#b5b5ff,#965efe);
    box-shadow: 2px 2px 10px #c778ff;
    border-radius: 50px;
    transition: all 800ms;
}
.Contact_Container>form>input,textarea,button{
    padding: 10px;
    width: 90%;
    font-size: 1.1rem;
    border-radius: 50px;
    border: #965efe 2px groove;
    background-color: #efe7ff;

}
.Contact_Container>form>button{
    background-color: #d8c3ff;
    border-radius: 50px;
    transition: 500ms all;
}
.Contact_Container>form>button:hover{
    background-color: #c3a2ff;
}
.Contact_Container>form>button:active{
    transform: scale(0.95);
}
.Contact_Container>form:hover{
    background: linear-gradient(to  right bottom,#965efe,#c6c6ff,#b5b5ff);
    transform:scale(1.04) skew(4deg);
}

/* ! Animations */
/** First Container Incoming Animmations Animation */
@keyframes incoming {
    0%{
        height: 0vh;
        background-color: white;
     }
     100%{
         height: 100vh;
         background-color: rgba(233, 250, 250, 0.916);
     }
}
@keyframes incoming_links{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes heading {
    from{
        transform: translateX(600px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
/** Third article Animations*/
@keyframes Third_articles{
    from{
        opacity: 0;
        transform: translateY(2000px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}
@keyframes Third_articles_Element{
    from{
        opacity: 0;
        transform: translateX(-2000px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}
@keyframes Third_Article_incoming_Text{
    from{
        opacity: 0;
        transform: translateY(-400px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes Second_Article_Skills_Container{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
