/* ! Mobile */
@media  (min-width:100px) and (max-width: 480px) {
  /*! First Container */
  .first-container{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
 
}
/** Navbar */
nav{
    position: absolute;
    top: 17%;
    left: 0%;
}
.first_article>h1{
  position: absolute;
  top: 4%;
  font-size: 2.2rem;
  width: 100%;
  left: 0%;
  text-wrap:wrap;
}
/*! About Container */
.Third_article{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #e1f9fc,#e1f9fc,#defbff );
  display: flex;
  flex-direction: column;
  
}
.Third_article>img{
  position: absolute;
  left: -2%;
  top: 0%;
  width: 500px;
  filter: drop-shadow(2px 2px 3px white);
 
}
.Third_article>p{
  position: absolute;
  top: 60%;
  width: 100%;
  right: 3%;
  font-size: 1.4rem;
  text-align:center;
  padding: 10px;
}
/* !Skills Container */
.Skills_Container{
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0%;
}
.bar{
  width: 400px;
  height: 20px;
}
.l-1{
  width: 360px;

}
.l-2{
  width: 350px;
}
.l-3{
  width: 300px;
}
.l-4{
  width: 250px;
}
.l-5{
  width: 350px;

}
.Skills>p{
  font-size: 1.2rem;
}
@keyframes l1{
  from{
      width: 0px;
  }
  to{
      width: 360px;
  }
}
@keyframes l2{
  from{
      width: 0px;
  }
  to{
      width: 350px;
  }
}
@keyframes l3{
  from{
      width: 0px;
  }
  to{
      width: 300px;
  }
}
@keyframes l4{
  from{
      width: 0px;
  }
  to{
      width: 250px;
  }
}
@keyframes l5{
  from{
      width: 0px;
  }
  to{
      width: 350px;
  }
}
/*! SkillsCard !*/
.SkillCardContainer{
  position: absolute;
  top: 110%;
  left: 10%;
}
.img{
  position: absolute;
  width: 330px;
  height: 330px;
}
/*! Project Container */
.Projects_Container{
  width: 100vw;
  height: 100vh;
}
.Projects_Container>img{
  display: none;
}
.cardsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 100vw;
}
.cardP{
  width: 45vw;
  height: 30vh;
}
.cardP>p{
  font-size: 1.3rem;
}
/*! Contact Form */
.Contact_Container{
  position: relative;
  display: flex;
  flex-direction: column;
}
.Contact_Container>h2{
  position: absolute;
  top: 0%;
  font-size: 2.8rem;
  width: 100%;
  text-align: center;
}
.Contact_Container>form{
  height: 50%;
  border: 2px groove rgb(185, 0, 185);
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 85%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to  right bottom,#c6c6ff,#b5b5ff,#965efe);
  box-shadow: 2px 2px 10px #c778ff;
  border-radius: 50px;
  transition: all 800ms;
}
.Contact_Container>form>input,textarea,button{
  padding: 10px;
  width: 90%;
  font-size: 1.1rem;
  border-radius: 50px;
  border: #965efe 2px groove;
  background-color: #efe7ff;

}
.Contact_Container>form>button{
  background-color: #d8c3ff;
}
.Contact_Container>form>button:hover{
  background-color: #c3a2ff;
}
.Contact_Container>form:hover{
  background: linear-gradient(to  right bottom,#965efe,#c6c6ff,#b5b5ff);
  transform:scale(1.04) skew(4deg);
}
  }

/* ! Tabs */
  @media  (min-width:481px) and (max-width: 1200px) {
   
      /*! First Container */
  .first-container{
    background-color: red;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: top;
 
}
/** Navbar */
nav{
    position: absolute;
    top: 17%;
    left: 10%;
}
.Link_1,.Link_2,.Link_3,.Link_4{
  font-size: 2.5rem;
}
.first_article>h1{
  position: absolute;
  top: 4%;
  font-size:3.3rem;
  width: 100%;
  left: 0%;
  text-wrap:wrap;
}
/* ! About Section */
.Third_article{
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #e1f9fc,#e1f9fc,#defbff );
  display: flex;
  flex-direction: column;  
}
.Third_article>img{
  position: absolute;
  left: 10%;
  top: 0%;
  width: 80%;
 
}
.Third_article>p{
  position: absolute;
  top: 60%;
  width: 100%;
  right: 0%;
  font-size:2.1rem;
  text-align:center;
  padding: 10px;
}
/* !Skills Container */
.Skills_Container{
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  left: 12%;
  width: 100vw;
}
.bar{
  width: 70%;
  height: 30px;
}
.line{
  height: 30px;
}
.l-1{
  width: 95%;

}
.l-2{
  width: 90%;
}
.l-3{
  width: 85%;
}
.l-4{
  width:70%;
}
.l-5{
  width: 85%;

}
.Skills>p{
  font-size: 2rem;
}
@keyframes l1{
  from{
      width: 0%;
  }
  to{
      width: 95%;
  }
}
@keyframes l2{
  from{
      width: 0%;
  }
  to{
      width: 90%;
  }
}
@keyframes l3{
  from{
      width: 0%;
  }
  to{
      width: 85%;
  }
}
@keyframes l4{
  from{
      width: 0%;
  }
  to{
      width: 70%;
  }
}
@keyframes l5{
  from{
      width: 0%;
  }
  to{
      width: 85%;
  }
}
/*! SkillsCard !*/
.SkillCardContainer{
  position: absolute;
  top: 110%;
  left: 0%;
}
.img{
  position: absolute;
  width: 700px;
  height: 700px;
}
/*! Project Container */
.Projects_Container{
  width: 100vw;
  height: 100vh;
  padding-top: 200px;
}
.Projects_Container>img{
  display: none;
}
.cardsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 100vw;
}
.cardP{
  width: 40vw;
  height: 30vh;
}
.cardP>p{
  font-size: 2rem;
}
/*! Contact Form */
.Contact_Container{
  position: relative;
  display: flex;
  flex-direction: column;
}
.Contact_Container>h2{
  position: absolute;
  top:2%;
  font-size: 3.7rem;
  width: 100%;
  text-align: center;
}
.Contact_Container>form>h2{
  font-size: 3rem;
}
.Contact_Container>form{
  height: 65%;
  border: 2px groove rgb(185, 0, 185);
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 85%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to  right bottom,#c6c6ff,#b5b5ff,#965efe);
  box-shadow: 2px 2px 10px #c778ff;
  border-radius: 50px;
  transition: all 800ms;
}
.Contact_Container>form>input,textarea,button{
  padding: 10px;
  width: 90%;
  font-size: 2rem;
  border-radius: 50px;
  border: #965efe 2px groove;
  background-color: #efe7ff;

}
.Contact_Container>form>textarea{
  font-size: 2.3rem;
}
.Contact_Container>form>button{
  background-color: #d8c3ff;
  font-size: 2.5rem;
}
    }
    @media  (min-width:1201px) {
      
        
      }